<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Akshay Kumar</title>

<script src="https://cdn.smooch.io/smooch.min.js"></script>
<script>
	Smooch.init({appToken: '{{appToken}}' });
</script>

<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
<!-- Fichiers CSS -->
<link rel="stylesheet" href="./reset.css">
<!--[if lt IE 9]> 
	<link rel="stylesheet" href="css/cv.css" media="screen">
	<![endif]-->
	<link rel="stylesheet" media="screen and (max-width:480px)" href="./mobile.css">
	<link rel="stylesheet" media="screen and (min-width:481px)" href="./cv.css">
	<link rel="stylesheet" media="print" href="./print.css">
</head>

<body>

	<!-- Header -->
	<header role="banner">
		<div class="container_16">
			<hgroup>
				<h1>Akshay Kumar</h1>
				<h2>Web Developer</h2>
			</hgroup>

			<figure>
				<img src="https://scontent.fbom1-1.fna.fbcdn.net/v/t1.0-9/12961718_10209391654697483_633977282008592364_n.jpg?oh=6aecee12b3894dec315a950f9db16e4a&oe=592C5863" alt="Akshay Kumar">
			</figure>
		</div>
	</header>
	
	<!-- Corps -->
	<section role="main" class="container_16 clearfix">
		<div class="grid_16">
			<!-- A propos -->
			<div class="grid_8 apropos">
				<h3>About</h3>
				<p>I am a website developer based in Pune, Maharashtra. I specialise in javascript and front end development.</p>

				<blockquote class="bq3">
					Let us, then, be up and doing, 
					With a heart for any fate; 
					Still achieving, still pursuing, 
					Learn to labor and to wait.
				</blockquote>      
			</div>

			<!-- Compétences -->
			<div class="grid_8 competences">
				<h3>Skills</h3>
				<ul class="barres">
					<li data-skills="90">HTML / HTML5<span style="width: 80%;"></span></li>
					<li data-skills="80">CSS / CSS3<span style="width: 60%;"></span></li>
					<li data-skills="85">Javascript<span style="width: 75%;"></span></li>
					<li data-skills="75">Javascript Frameworks<span style="width: 40%;"></span></li>
				</ul>
			</div>
		</div>

		<!-- Expériences -->
		<div class="grid_16 experiences">
			<h3>Experience</h3>
			<ul>
				<li>
					<h4><strong>Great Software Laboratories</strong> Software Engineeer</h4>
					<span class="lieu">Pune</span>
					<span class="dates">Feb 2016 - till</span>
					<p>Working as a front end developer in Video Surveillance product. Responsible for implementing adaptive streaming for live surveillance using DASH. 
					</p>
				</li>
				<li>
					<h4><strong>Cognizant Technology Solutions</strong> Programmer Analyst</h4>
					<span class="lieu">Pune</span>
					<span class="dates">Sept 2014 - Jan 2016</span>
					<p>Working as a full stack developer with .NET WEB API at the backend and angularjs for the UI. Also responsible for mentoring and leading 50 freshers as part of their MFRP (My First Real Project).
					</p>
				</li>
				<li>
					<h4><strong>Venturepact llc</strong> Intern</h4>
					<span class="lieu">Phagwara</span>
					<span class="dates">Jan 2014 - Jun 2016</span>
					<p>Working as a full stack Javascript Developer. Created an online mentor website using node.js and webRTC.
					</p>
				</li>
			</ul>
		</div>

		<!-- Formations -->
		<div class="grid_16 formations">
			<h3>Qualification</h3>
			<ul>
				<li>
					<h4><strong>Bachelor of Technology / Computer Science</strong> Lovely Professional University</h4>
					<span class="lieu">Phagwara</span>
					<span class="dates">2010 - 2014</span>
				</li>
				<li>
					<h4><strong>HSC</strong> Bishop Cotton School</h4>
					<span class="lieu">Shimla</span>
					<span class="dates">2002 - 2010</span>
				</li>
			</ul>
		</div>

		<!-- Loisirs -->
		<div class="grid_8 loisirs">
			<h3>Extras</h3>
			<p><strong>Sports :</strong> Boxing, Cricket, Badminton</p>
			<p>Love to listen to music. A Manchester United fan.</p>
		</div>

		<!-- Contact -->
		<div class="grid_8 contact">
			<h3>Contact</h3>
			<p>Si mon profil vous intéresse, n'hésitez pas à me contacter :</p>
			<ul>
				<li class="lieu">Pune, Maharashtra</li>
				<li class="phone">+91 9619681706</li>
				<li class="mail"><a href="mailto:kumaraksi@outlook.com">kumaraksi@outlook.com</a></li>
				<li class="form"><a class="toContactform">Leave a message</a></li>
			</ul>
		</div>
	</section>

	<!-- Contact -->
	<section class="contactform clearfix">
		<div class="container_16">
			<h3>Contact Me</h3>
			<p>Lets get in touch
				<br><em>Tous les champs sont requis.</em></p>
				<form novalidate="novalidate" method="post" action="#" name="contact" class="grid_16">
					<p class="grid_10"><textarea name="message" placeholder="Your message" class="required"></textarea></p>
					<p class="grid_6">
						<input name="nom" placeholder="Name" class="required" type="text">
						<input name="email" placeholder="email" class="required" type="email">	
						<input name="envoi" value="Send message" class="required" type="submit">
						<span class="messageform"></span>
					</p>
				</form>
			</div>
		</section>

		<!-- Scripts JavaScript -->
		<script src="./jquery-1.js"></script>
		<script src="./validate.js"></script>

<!--[if lt IE 9]>
<script src="scripts/placeholder.js"></script>
<![endif]-->
<script src="./plugins.js"></script>

</body></html>