
.icon-github-circled:before { content: '\e800'; } /* '' */
.icon-linkedin:before { content: '\e801'; } /* '' */
.icon-call:before { content: '\e802'; } /* '' */
.icon-buffer:before { content: '\e803'; } /* '' */
.icon-gmail:before { content: '\e804'; } /* '' */
.icon-award:before { content: '\e805'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-android:before { content: '\f17b'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */